
.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.main-wrapper{
  display: flex;
  justify-content: center;

}

.box {
  background-color: rgb(236, 231, 231) !important;
  /* margin : 5% 0% 0% 25%; */
	position: relative;
	top: 0;
	opacity: 1;
	float: left;
	padding: 25px 50px 40px 50px;
	width: 50%;
	background: #fff;
	border-radius: 10px;
	transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	z-index: 5;
	max-width: 100%;

}
.mat-card-footer{
  display: flex;
  justify-content: center;
}
